#
# sudoers(5): default sudo security policy
#
# This file MUST be edited with the 'visudo' command as root.
{% macro concat(x) -%}
{{ x|join(', ') if x is iterable and x is not string else x -}}
{% endmacro -%}

{% if sudo.aliases is mapping -%}

{% macro alias(map, type) -%}
{% for name, values in map|default({})|dictsort -%}
{{ type }}_Alias {{ name }} = {{ concat(values) }}
{% endfor -%}
{% endmacro %}

# Host aliases
{{ alias(sudo.aliases.hosts, 'Host') }}
# User aliases
{{ alias(sudo.aliases.users, 'User') }}
# Cmnd aliases
{{ alias(sudo.aliases.commands, 'Cmnd') }}
# Runas aliases
{{ alias(sudo.aliases.runas, 'Runas') }}

{%- endif -%}

{% if sudo.defaults is mapping -%}

{% macro default(map, type) -%}
{% for scope, params in map|default({})|dictsort -%}
Defaults{{ type }}{{ scope }} {{ concat(params) }}
{% endfor -%}
{% endmacro %}

# General defaults
{% for param in sudo.defaults.general|default([]) %}
Defaults {{ param }}
{% endfor %}

# Host defaults
{{ default(sudo.defaults.hosts, '@') }}
# User defaults
{{ default(sudo.defaults.users, ':') }}
# Cmnd defaults
{{ default(sudo.defaults.commands, '!') }}
# Runas defaults
{{ default(sudo.defaults.runas, '>') }}

{%- endif -%}

{% if sudo.userspec is defined and sudo.userspec is iterable %}

# User specifications
{% for level1 in sudo.userspec -%}
  {% for user, level2 in level1|dictsort -%}
    {% for map in level2 -%}
      {% for host, cmds in map|dictsort %}
{{ user }} {{ host }} = {{ concat(cmds) }}
{% endfor %}
    {%- endfor %}
  {%- endfor %}
{%- endfor %}

{%- endif -%}

{% if includedir is defined %}

#includedir {{ includedir }}
{%- endif -%}
