#jinja2: trim_blocks: "true", lstrip_blocks: "false"
#
# sudoers(5): default sudo security policy
#
# This file MUST be edited with the 'visudo' command as root.
{% macro concat(x) %}
{{ (x | join(', ')) if x is iterable and x is not string else x -}}
{% endmacro %}

{%- if sudo.get('aliases') is mapping %}

{% macro alias(dict, type) %}
{% for name, values in dict | default({}) | dictsort %}
{{ type }}_Alias {{ name }} = {{ concat(values) }}
{% endfor %}
{% endmacro -%}

# Host aliases
{{ alias(sudo.aliases.get('hosts'), 'Host') }}
# User aliases
{{ alias(sudo.aliases.get('users'), 'User') }}
# Cmnd aliases
{{ alias(sudo.aliases.get('commands'), 'Cmnd') }}
# Runas aliases
{{ alias(sudo.aliases.get('runas'), 'Runas') }}

{%- endif %}

{%- if sudo.get('defaults') is mapping %}

{% macro default(dict, type) %}
{% for scope, params in dict | default({}) | dictsort %}
Defaults{{ type }}{{ scope }} {{ concat(params) }}
{% endfor %}
{% endmacro -%}

# General defaults
{% for param in sudo.get('defaults', {}).get('general', []) %}
Defaults {{ param }}
{% endfor %}

# Host defaults
{{ default(sudo.defaults.get('hosts'), '@') }}
# User defaults
{{ default(sudo.defaults.get('users'), ':') }}
# Cmnd defaults
{{ default(sudo.defaults.get('commands'), '!') }}
# Runas defaults
{{ default(sudo.defaults.get('runas'), '>') }}

{%- endif %}

{%- if sudo.get('userspec') is sequence %}

# User specifications
{% for level1 in sudo.get('userspec') %}
  {% for user, level2 in level1 | dictsort %}
    {% for dict in level2 %}
      {% for host, cmds in dict | dictsort %}
{{ user }} {{ host }} = {{ concat(cmds) }}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endfor %}

{%- endif %}

{%- if includedir is defined %}

#includedir {{ includedir }}
{% endif %}
